{% assign content_length = include.event.content | strip | size %}
{% assign excerpt_length = include.event.excerpt | strip | size %}

<div class="postPreview well -listing">
  <header>
    <h4>{{ include.event.date | date: "%b %d, %Y" }}</h4>
    <h2><a href="{{ include.event.url }}">{{ include.event.title }}</a></h2>
    <p>
      {% if include.event.location %}@ {{ include.event.location }}{% endif %}
    </p>
  </header>
  <div class="postPreview_excerpt">
    {{ include.event.description }}
    <p><a href="{{ include.event.url }}" class="postPreview_more">Read more &gt;</a></p>
  </div>
</div><!-- .postPreview -->