---
layout: default
---

<article class="knowledgeBase">
	<div class="container">
		<div class="row">
			{% if page.image %}
				<div class="col-sm-4">
					<img src="{{ page.image }}" class="img-fluid" />
				</div>
			{% endif %}
			<div class="col-sm-{% if page.image %}8{% else %}12{% endif %}">
				<header>
					<h1 class="entry_title">{{ page.title }}</h1>
					<div class="entry_defintion">
						{{ page.description }}
					</div>
				</header>
				<div class="entry_body">
					{{ content }}
					{% if page.homepageUrl %}
						<p>
							Learn more at <a href="{{ page.homepageUrl }}" target="_blank">{{ page.homepageUrl }}</a>
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</article>